@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.container{
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.title_path hr{
    height: 3px;
    background-color: aquamarine;
    border: none;
}

.task_input {
    padding: 8px 10px;
    border: 1px solid aquamarine;
    border-radius: 6px;
    flex: 1;
}
.input_path{
    display: flex;
    gap: 5px;
}

.task_list{
    text-align: left;
}

.btn_save{
    padding: 8px 10px;
    border: 1px solid aquamarine;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn_save:hover{
    background-color: aquamarine;
}

.task_list {
    list-style: none;
    padding: 0;
}


.task_list li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 8px 10px;
    background-color: rgb(164, 255, 225);
    border-radius: 6px;
}

.task_list button {
    padding: 8px 10px;
    border: 1px solid aquamarine;
    border-radius: 6px;
    background-color: rgb(255, 154, 154);
    cursor: pointer;
    transition-duration: 0.4s;
}

.task_list button:hover{
    background-color: rgb(255, 21, 21);
}